.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BoardCanvas {
  background-color: blue;
  background-image: url('./img//field.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  touch-action: none;
}


